

<mat-form-field>
  <mat-select id="city" name="city" placeholder="Change City" [(ngModel)]="city.name" (ngModelChange)="changeCity($event)">
    <mat-option *ngFor="let cities of listOfCities" [value]="cities.name">
        {{cities.name}}
    </mat-option>
  </mat-select>
</mat-form-field>


  <table>
    <tr>
      <td>City</td>
      <td>{{monitorWeather.name}}</td>
    </tr>
    <tr>
      <td>Weather</td>
      <td>{{monitorWeather.weather[0].description}}</td>
    </tr>
    <tr>
      <td>Temperature</td>
      <td>{{monitorWeather.main.temp}}</td>
    </tr>   
    <tr>
      <td>Wind</td>
      <td>{{monitorWeather.wind.speed}}</td>
    </tr>
  </table>

